canvas:hover{
    cursor: default;
}

.game_hood {
    background-image: url('../game/assets/images/menu_top.png'), url('../game/assets/images/menu_mid.png'), url('../game/assets/images/menu_bot.png');
    background-position: top center, 0 20px, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, 100% calc(100% - 50px), contain;
    min-height: 100%;
    width: calc(25% + 1px);
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.game_hood:hover {
    cursor: default;
}

.hood__information {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 17px;
}

.hoor__stats {
    padding: 10px;
    font-size: 15px;
}

.hood__main-stats, .hood__other-stats {
    color: #39201a !important;
}

.hood__name {
    color: #39201a !important;
}

.hood__tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hood__btn, .hood__tab {
    background-image: url('../game/assets/images/button.png');
    background-size: 100%;
    width: 200px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #39201a;
    margin: 0 auto;
}

.hood__btn:active, .hood__tab:active {
    width: 198px;
}

.hood__btns-w {
    margin-top: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
